@import '../../../styles/variables.scss' ;

.profil-container {
    height: auto;
    width: auto;
    position: absolute;
    top: 100px;
    right: 150px;
    border-radius: 10px;
    background-color: $settings-background;
    padding: 50px 40px 45px;
    animation : slide-settings 1s;
    animation-iteration-count: 1;
    font-family: $police;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    .profil-image {
        img {
            border-radius: 100%;
        }
    }

    .change-image-div {
        font-size: 12px;
        cursor: pointer;
        padding-bottom: 25px;

        p:hover {
            color: $main-color;
        }
    }

    .profil-name {
        cursor: pointer;
        font-size: 28px;
    }

    .profil-error-message {
        display: flex;
        gap: 10px;

        span {
            padding: 3px 0;
        }
    }
    .error-icon {
        color : orange
    }
}

@keyframes slide-settings {
    from {
        transform: translateX(+100%);
    }

    to {
        transform: translateX(0%);
    }
}