.sidebar {
    height: 100%;
    width: 300px;
    color: white;
    font-family: Poppins, sans-serif;
    animation: slidein-bar 2s;
    animation-iteration-count: 1;
}

.sidebar-item1 {
    display: flex;
    height: 50px;
    padding: 10px 60px;
    margin-top: 50px;
}

.sidebar-item1:hover {
    color: #10c6d3;
    cursor: pointer;
    transform: translateX(15px);
    transition-duration: 0.5s;
}

.sidebar-item1 p {
    padding-left: 10px;
}

.sidebar-item2 {
    display: flex;
    height: 50px;
    padding: 10px 60px;
    margin: 15px 0;
}

.sidebar-item2 p {
    padding-left: 10px;
}

.sidebar-item2:hover {
    color: #10c6d3;
    cursor: pointer;
    transform: translateX(15px);
    transition-duration: 0.5s;
}

@keyframes slidein-bar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
