@import "../../../styles/variables.scss";

.no-page-main-div {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    padding: 180px 250px;
    font-family: $police;
    background-color: $main-background;
    height: 100vh;

    .no-page-main-title {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;

        h1 {
            background: linear-gradient(126deg, rgba(18,137,145,1) 29%, rgba(50,160,167,1) 52%, rgba(132,220,226,1) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: 600;
            background-clip: text;
            font-size: 80px
        }
    }

    .no-page-main-body {
        @extend .no-page-main-title;
        align-items: center;
        gap: 25px;

        button {
            width: 180px;
            height: 45px;
            border-radius: 5px;
            background-color: $main-color;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;

            a {
                text-decoration: none;
                font-family: $police;
                color: white;
            }
        }
    }
}