@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$police : poppins, sans-serif;

$main-background: #322c2c;

$main-color: #10c6d3;

$file-list-background : rgba(255, 255, 255, 20%);

$settings-background: #222222;

$settings-items: #5b5b5b;

$light-background : rgb(235, 235, 235);

$user-settings-background : #1c1c1c;