@import "../../../styles/variables.scss" ;

input[type="text"] {
    text-indent: 10%;
    color: white;
    font-family: $police;
    font-size: 14px;
}

::placeholder {
    font-family: $police;
    color: white;
    opacity: 0.5;
}

.playlists-container {
    margin: 20px 10%;
    background-color: $main-background;
    border-radius: 15px;
    padding: 35px 80px;
    height: auto;
    font-family: $police;

    .playlist-container-menu {
        background-color: $main-background;
        display: flex;
        gap: 25px;

        & h1 {
            background-color: $main-background;
        }

        & button {
            background-color: $main-background;
            padding-top: 8px;
            border: none;
            color: white;
        }

        .playlist-container-menu-icon {
            background-color: $main-background;

            &:hover {
                transform: rotate(90deg);
                transition-duration: 1s;
            }
        }
    }
}

.playlist-dropdowns {
    overflow-y: scroll;
    padding-right: 40px;
    background-color: $main-background;
    height: 280px;
    width: 100%;
    margin-top: 25px;
}

.playlist-message {
    background-color: $main-background;
    font-size: 22px;
    margin-top: 25px;
}

.add-playlist {
    background-color: $main-background;
    margin-top: 15px;
    height: 50px;
    display: flex;
    gap: 30px;

    & input {
        border: none;
        border-bottom: 1px solid white;
        margin: 10px 0;
        background-color: $main-background;
        font-size: 14px;
        width: 200px;

        &:focus {
            outline: none;
        }
    }

    & button {
        margin-top: 7px;
        height: 35px;
        width: 120px;
        border: none;
        border-radius: 10px;
        background-color: $main-color;
        color: white;
        font-family: $police;
        font-size: 16px;
        font-weight: 500;
    }
}
