@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar-section {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    color: white;
    font-family: Poppins, sans-serif;
    animation: from-top 2s;
    animation-iteration-count: 1;
}

.navbar-section-items {
    display: flex;
    justify-content: space-between;
}

.navbar-section-items h1 {
    cursor: pointer;
}

.navbar-section-items p {
    padding-top: 18px;
    padding-left: 80px;
}

.navbar-section-items p:hover {
    text-decoration: underline;
}

.navbar-section-icons {
    display: flex;
    justify-content: space-between;
}

.navbar-section-icons-childs {
    padding-top: 18px;
    padding-right: 50px;
}

.navbar-section-icons-childs:hover {
    color: #10c6d3;
    transition-duration: 0.7;
}

@keyframes from-top {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}