@import "../../../styles/variables.scss" ;

.filelist-section {
    margin: 20px 15%;
    background-color: $main-background;
    border-radius: 15px;
    padding: 30px 80px;
    height: 450px;
    font-family: $police;

    & h1 {
        background-color: $main-background;
    }

    & div {
        background-color: $main-background;
    }

    & p {
        background-color: $main-background;
    }
}

.file-list-child {
    display: flex;
    gap: 20px;
    margin: 26px 0;
    font-size: 20px;
    background-color: $main-background;

    & p {
        background-color: $main-background;
    }

    & p:hover {
        color: #10c6d3;
        cursor: pointer;
    }

    & button {
        color: white;
        border: none;
        background-color: $main-background;
        height: 30px;
        width: 30px;
        padding-top: 2px;
    }

    .file-list-songs {
        display: flex;
        gap: 20px;

        .file-list-child-icon {
            background-color: $main-background;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

.file-list-dropmenu {
    background-color: red;
    max-width: 50%;
    overflow-y: scroll;
    padding: 0 10px;

    & .dropmenu-box {
        height: 120px;
        overflow-y: scroll;
        border-radius: 10px;
        border: 1px solid $file-list-background;
        padding: 8px 20px;
        width: auto;

        .playlist-items {
            margin-bottom: 8px;
        }
    }
}

.music-list-items {
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: scroll;
    height: 280px;
}

.add-song-container p:hover {
    color: white;
}

.add-song-container {
    height: auto;

    & div {
        margin-top: 10px;
        display: flex;
        gap: 35px;
    
        & button {
            cursor: pointer;
            font-family: $police;
            font-size: 16px;
        }
    
        & button:hover {
            color: $main-color;
        }      
    }
}

#no-file-list {
    background-color: $main-background;
    font-size: 22px;
    margin-top: 25px;

}

#error-file-list{
    margin: 20px 15%;
    background-color: $main-background;
    border-radius: 15px;
    padding: 30px 80px;
    height: 450px;
    font-family: $police;

    & p {
        background-color: $main-background;
        margin-top: 20px;
        font-size: 22px;
    }

    & h1 {
        background-color: $main-background;
    }
}