.filelist-section{
    margin : 20px 15%;
    background-color: #322C2C;
    border-radius: 15px;
    padding: 30px 80px;
    height: 400px;
    font-family: 'Poppins';
}

.filelist-section h1{
    background-color: #322C2C;
}

.filelist-section div{
    background-color: #322C2C;
}

.filelist-section p{
    background-color: #322C2C;
}

.file-list-child{
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    margin: 26px 0px;
    font-size: 20px;
    background-color:  #322C2C;
}

.file-list-child p{
    background-color:  #322C2C;
}

.file-list-child button{
    color: white;
    border: none;
    background-color:  #322C2C;
    padding: 0px 10px;
}

.file-list-child-icon{
    background-color:  #322C2C;
    color: #ed2143;
}


.music-list-items{
    margin-top: 15px;
    overflow-y: scroll;
    height: 255px;
}
