@import "../../../../styles/variables.scss" ;

.dropdown {
    font-family: $police;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: $main-background;
    border: 0.5px solid $file-list-background;
    border-radius: 10px;
    width: 100%;

    .dropdown-menu {
        display: flex;
        justify-content: space-between;
        background-color: $main-background;

        & div {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            width: 80px;
            padding: 0 10px;
            text-align: center;
            background-color: $main-background;
        }

        .playlist-name {
            font-size: 20px;
            background-color: $main-background;
        }     
    }
}

.dropdown-button {
    background-color: $main-background;
    padding: 0;
    border: none;
    color: white;
    font-family: $police;
    font-size: 25px;
    height: 30px;
    width: 30px;
}

.gear-button {
    @extend .dropdown-button;

    &:hover {
        transform: rotate(360deg);
        transition-duration: 3s;
    }
}

.playlist-gear-icon {
    padding-bottom: 5px;
    background-color: $main-background;
}

.dropdown-menu-icon {
    background-color: $main-background;
}

.dropdown-content {
    background-color: $main-background;

    & p {
        background-color: $main-background;
    }

    .dropdown-songs {
        background-color: $main-background;
        margin-top: 10px;
        margin-bottom: 10px;
        transition-duration: all 0.7s ease;
        max-height: 150px;
        overflow-y: scroll;
    
        & p {
            padding: 3px 0;
        }
    }
}

.songs-items {
    display: flex;
    gap: 20px;
    background-color: $main-background;

    & button {
        border: none;
        background-color: $main-background;
        padding-top: 2.5px;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

    & p:hover {
        cursor: pointer;
        color: $main-color;
    }

    & .songs-items-icons {
        background-color: $main-background;
    }
}