@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.home-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
    font-family: Poppins, sans-serif;
    background-color: #1b1919;
}

.home-menu-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.home-menu-link:hover {
    text-decoration: underline;
}

.home-menu-logo {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: semi-bold;
}

.home-section {
    display: flex;
    justify-content: space-between;
    padding: 0 16% ;
    padding-top: 60px;
    background-color: #1b1919;
}

.home-section img {
    height: 600px;
    width: 400px;
}

.home-section-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 150px 50px;
    font-family: Poppins, sans-serif;
}

.home-section-div h1 {
    color: white;
    margin-bottom: 15px;
}

.home-section-div p {
    color: white;
    margin-bottom: 40px;
    font-size: 20px;
}

.home-section-div button {
    width: 150px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #10c6d3;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.home-section-div button:hover {
    transform: scale(1.1) translateX(10px);
    transition-duration: 1s;
}

@media screen and (max-width: 1150px) {
    .home-section {
        padding: 0 10%;
        padding-top: 60px;
    }
}

@media all and (display-mode: fullscreen) {
    .home-menu {
        padding: 60px 150px;
    }

    .home-section{
        padding-top: 8%;
    }
  }