@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.dashboard-section{
    height: 625px;
    display: flex;
    justify-content: space-between;
}

.main-content{
    background-color:#1B1919;
    color: white;
    font-family: 'Poppins';
}

.dashboard-main-component{
    margin : 50px 20%;
    display: flex;
    background-color: #322C2C;
    border-radius: 15px;
    flex-direction: column;
    padding: 80px;
    font-family: 'Poppins';
}

.dashboard-main-component h1{
    color: white;
    margin-bottom: 15px;
    background-color: #322C2C;
}

.dashboard-main-component p{
    color: white;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: #322C2C;
}

.dashboard-main-component button{
    width: 150px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #10c6d3;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: bold;
}

.dashboard-main-component button:hover{
    transform: scale(1.1) translateX(5px);
    transition-duration: 0.7s;
}

.ProfileImg{
    border-radius:50%;
    text-align:center;
    margin:auto;
    display:flex;
}
.ModifImg{
    text-align:center;
    margin:auto;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-top:-3%;
    margin-right: -2%;

    width: 2em;
    height: 2em;


}
.ModifButton{
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    rotate: 90deg;
    text-align:center;
    display:flex;
    margin: auto;
    position: relative;
    margin-top:-3%;

    width: 2em;
    height: 2em;
}
button:hover{
    cursor:pointer;
}
.Pseudo{
    font-size: 150%;
}
.Retour{
    text-align: right;
    padding-right :10%;
}
