@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.dashboard-section {
    height: 625px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    background-color: #1b1919;
    color: white;
    font-family: Poppins, sans-serif;
}

.dashboard-main-component {
    margin: 50px 20%;
    display: flex;
    background-color: #322c2c;
    border-radius: 15px;
    flex-direction: column;
    padding: 80px;
    font-family: Poppins, sans-serif;
}

.dashboard-main-component h1 {
    color: white;
    margin-bottom: 15px;
    background-color: #322c2c;
}

.dashboard-main-component p {
    color: white;
    margin-bottom: 40px;
    font-size: 20px;
    background-color: #322c2c;
}

.dashboard-main-component button {
    width: 150px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #10c6d3;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.dashboard-main-component button:hover {
    transform: scale(1.1) translateX(5px);
    transition-duration: 0.7s;
}

.components-container {
    background-color: #1b1919;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: slidein 2s;
    animation-iteration-count: 1;
}

@keyframes slidein {
    from {
        transform: translateX(+200%);
      }
    
      to {
        transform: translateX(0%);
      }
}