@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

input[type="text"],
input[type="password"] {
    text-indent: 50px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

input[type="text"]:invalid,
input[type="password"]:invalid {
    color: #eb3a1f;
}

.login-section-background {
    background-color: #1b1919;
    height: 100vh;
    padding-top: 50px;
}

.login-section {
    background-color: #322c2c;
    border: none;
    border-radius: 20px;
    height: auto;
    width: 600px;
    padding: 50px 60px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
}

.login-section h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #322c2c;
}

.login-section form {
    background-color: #322c2c;
    text-align: center;
}

.login-section input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #262121;
    font-size: 14px;
}

.login-section button {
    margin: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #10c6d3;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.login-section button:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

::placeholder {
    font-family: Poppins, sans-serif;
    color: white;
}

.login-section-subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 18px;
    background-color: #322c2c;
}

.passwordReview {
    background-color: #322c2c;
    color: #eb3a1f;
}

.switch-connect {
    display: flex;
    justify-content: center;
    background-color: #322c2c;
}

.switch-connect p {
    background-color: #322c2c;
    font-size: 12px;
    padding: 0 5px;
    cursor: pointer;
}

.switch-connect button {
    background-color: #322c2c;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    padding: 0 5px;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 12px;
}

.switch-connect-link:hover {
    color: #10c6d3;
}

.notification-error .title,
.notification-error .message {
    background-color: #bd362f;
    font-family: Poppins, sans-serif;

}

.notification-success .title,
.notification-success .message {
    background-color: #51a351;
    font-family: Poppins, sans-serif;
}