@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

input[type="text"] {
    text-indent: 15px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 14px;
}

.login-section-background {
    background-color: #1b1919;
    height: 100%;
}

.login-section {
    background-color: #322c2c;
    border: none;
    border-radius: 20px;
    height: 550px;
    width: 600px;
    margin-top: 50px;
    padding: 50px 60px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
}

.login-section h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #322c2c;
}

.login-section input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #262121;
    font-size: 14px;
}

.login-section button {
    margin: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: #10c6d3;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.login-section button:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

::placeholder {
    font-family: Poppins, sans-serif;
    color: white;
}

.login-section-subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 18px;
    background-color: #322c2c;
}

.switch-connect {
    display: flex;
    justify-content: center;
    background-color: #322c2c;
}

.switch-connect p {
    background-color: #322c2c;
    font-size: 12px;
    padding: 0 5px;
}

.switch-connect-link:hover {
    color: #10c6d3;
}