@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.sound-player {
    padding: 0 15%;
    bottom: 0;
    right: 0;
    width: 100%;
    position: fixed;
    color: white;
    font-family: Poppins, sans-serif;
    background-color: #322c2c;
}

.rhap_progress-container {
    pointer-events: none;
}
